NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/devcamper?retryWrites=true&w=majority

FILE_UPLOAD_PATH=./public/uploads
MAX_FILE_UPLOAD=1000000

JWT_SECRET=add_your_secret_key_here
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=your_smtp_email
SMTP_PASSWORD=your_smtp_password
FROM_EMAIL=noreply@devcamper.io
FROM_NAME=DevCamper
